
!
! Last configuration change at 15:54:15 GMT Mon Jul 6 2020 by admin
!
version 15.8
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname yourname
!
boot-start-marker
boot system flash:c1900-universalk9-mz.SPA.158-3.M4.bin
boot-end-marker
!
!
logging buffered 51200 warnings
!
no aaa new-model
clock timezone GMT 1 0
!
!
!
!
!
!
!
!
!
!
!
!
no ip domain lookup
ip domain name yourdomain.com
ip cef
no ipv6 cef
multilink bundle-name authenticated
!
!
crypto pki trustpoint TP-self-signed-1807992768
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-1807992768
 revocation-check none
 rsakeypair TP-self-signed-1807992768
!
!
crypto pki certificate chain TP-self-signed-1807992768
 certificate self-signed 01
  3082022B 30820194 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 31383037 39393237 3638301E 170D3137 31313239 31353531 
  33315A17 0D323030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D31 38303739 
  39323736 3830819F 300D0609 2A864886 F70D0101 01050003 818D0030 81890281 
  8100BE87 59D94E2E A5BC9644 EDAAEAC8 ED2433EC 56CA2EA4 6705FC4B 05654456 
  46126D59 39FEF570 6B56C3DB 195C7B8C D5C3A37E C2C69F6A 2CA60A2F 638D4330 
  CB5960CA 90589294 EA3D1C32 D4E13B72 34FAF1C3 43458B91 09EE7942 3DF98EA6 
  7371BF2A 5197008D 701FBBF9 64438979 B040B536 5F517A45 133B5F49 1F5B187C 
  84610203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 301F0603 
  551D2304 18301680 14FFE973 2B184767 6235EC13 4FDE7583 9F2DB062 7F301D06 
  03551D0E 04160414 FFE9732B 18476762 35EC134F DE75839F 2DB0627F 300D0609 
  2A864886 F70D0101 05050003 81810096 4CCA019D 3C6DDC78 20605DDB AC3DAFD3 
  4F82374B 08666269 F367CC41 BF3CE7BE 07FE183E 97E06219 AD5070B4 66C7B8CD 
  0B1BE295 F612DCFE 30930FDA B0C839AD B09A41D0 80ED2A8B BFFF04EC 97EC431A 
  DA5A935F B26E32F5 8EF30909 D70E4A66 A0D4F875 FA6F4261 B66295D3 9AB1791F 
  5C99F43F 8AB38699 ED7D6F78 057BC3
  	quit
license udi pid CISCO1921/K9 sn FCZ1843712Q
!
!
username admin privilege 15 secret 5 $1$Y8TC$F4pDRuGkNeSl1buVil2Iw/
!
redundancy
!
!
!
!
!
!
interface Embedded-Service-Engine0/0
 no ip address
 shutdown
!
interface GigabitEthernet0/0
 description $ETH-LAN$ETH-SW-LAUNCH$INTF-INFO-GE 0/0$
 ip address 192.168.2.90 255.255.255.0
 ip nat inside
 ip virtual-reassembly in
 duplex auto
 speed auto
!
interface GigabitEthernet0/1
 no ip address
 ip nat outside
 ip virtual-reassembly in
 duplex auto
 speed auto
!
interface GigabitEthernet0/1.1036
 description PrimaryWANDesc_
 encapsulation dot1Q 1036
 ip nat outside
 ip virtual-reassembly in
 pppoe enable group global
 pppoe-client dial-pool-number 1
!
interface Serial0/0/0
 no ip address
 shutdown
 clock rate 2000000
!
interface Dialer1
 mtu 1492
 ip address negotiated
 ip nat outside
 ip virtual-reassembly in
 encapsulation ppp
 ip tcp adjust-mss 1452
 dialer pool 1
 dialer-group 1
 no cdp enable
 ppp authentication chap pap callin
 ppp chap hostname vodafonedsl
 ppp chap password 0 vodafonedsl
 ppp pap sent-username vodafonedsl password 0 vodafonedsl
!
ip forward-protocol nd
!
ip http server
ip http upload enable path flash:
ip http upload overwrite
ip http authentication local
ip http secure-server
ip http timeout-policy idle 60 life 86400 requests 10000
!
ip nat inside source list 10 interface Dialer1 overload
ip route 0.0.0.0 0.0.0.0 Dialer1
!
!
!
access-list 10 permit 192.168.2.0 0.0.0.255
!
control-plane
!
banner exec 
% Password expiration warning.
-----------------------------------------------------------------------
 
Cisco Configuration Professional (Cisco CP) is installed on this device 
and it provides the default username "cisco" for  one-time use. If you have 
already used the username "cisco" to login to the router and your IOS image 
supports the "one-time" user option, then this username has already expired. 
You will not be able to login to the router with this username after you exit 
this session.
 
It is strongly suggested that you create a new username with a privilege level 
of 15 using the following command.
 
username <myuser> privilege 15 secret 0 <mypassword>
 
Replace <myuser> and <mypassword> with the username and password you want to 
use.
 
-----------------------------------------------------------------------

banner login 
-----------------------------------------------------------------------
Cisco Configuration Professional (Cisco CP) is installed on this device. 
This feature requires the one-time use of the username "cisco" with the 
password "cisco". These default credentials have a privilege level of 15.
 
YOU MUST USE CISCO CP or the CISCO IOS CLI TO CHANGE THESE  PUBLICLY-KNOWN 
CREDENTIALS

Here are the Cisco IOS commands.

username <myuser>  privilege 15 secret 0 <mypassword>
no username cisco

Replace <myuser> and <mypassword> with the username and password you want 
to use. 

IF YOU DO NOT CHANGE THE PUBLICLY-KNOWN CREDENTIALS, YOU WILL NOT BE ABLE 
TO LOG INTO THE DEVICE AGAIN AFTER YOU HAVE LOGGED OFF.
 
For more information about Cisco CP please follow the instructions in the 
QUICK START GUIDE for your router or go to http://www.cisco.com/go/ciscocp 
-----------------------------------------------------------------------

!
line con 0
 login local
line aux 0
line 2
 no activation-character
 no exec
 transport preferred none
 transport output pad telnet rlogin lapb-ta mop udptn v120 ssh
 stopbits 1
line vty 0 4
 privilege level 15
 login local
 transport input telnet ssh
line vty 5 15
 access-class 23 in
 privilege level 15
 login local
 transport input telnet ssh
!
scheduler allocate 20000 1000
!
end
